#!/bin/bash

# set rules for specific applications
bspc rule -a 'firefox' state=floating desktop='^2'
bspc rule -a 'firefox:Navigator' state=tiled follow=true
bspc rule -a 'Pavucontrol' state=floating
bspc rule -a 'feh' state=floating
bspc rule -a 'TelegramDesktop' state=floating sticky=true

